<?xml version="1.0"?>

<connectionStrings>
  <!--<add name="GrasewsContext" connectionString="Data Source=RETAILISATION-M\SQLEXPRESS;Initial Catalog=Grasews;Persist Security Info=True;User ID=grasews_admin;Password=grasews_admin" providerName="System.Data.SqlClient" />-->
  <!--<add name="GrasewsContext" connectionString="Data Source=DELL-MATHEUS\SQLEXPRESS;Initial Catalog=Grasews;Persist Security Info=True;User ID=grasews_admin;Password=grasews_admin" providerName="System.Data.SqlClient" />-->
  <add name="GrasewsContext" connectionString="host=localhost;port=5432;database=grasews;user id=grasews_admin;password=grasews_admin" providerName="Npgsql" />
  <!--<add name="GrasewsContext" connectionString="host=web520.webfaction.com;port=5432;database=grasews;user id=grasews_admin;password=grasews_admin" providerName="Npgsql" />-->
  <!--<add name="GrasewsContext" connectionString="host=143.107.137.90;port=5432;database=grasews;user id=grasews_admin;password=qba3801" providerName="Npgsql" />-->
</connectionStrings>