@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Grasews - Documentação do Projeto</title>
</head>
<body>
    <h1>Grasews - Documentação do Projeto</h1>
    <div>
        <h2>Documentos da Prova de Conceito de Anotação do Serviço MicroAffyNorm</h2>
        <ul>
            <li>
                <a href="https://raw.githubusercontent.com/mlcalache/wsdls/master/MicroAffyNormService_Original_Semantic.wsdl" target="_blank">
                    Especificação MicroAffyNormService_Original_Semantic.wsdl
                </a>
            </li>
            <li>
                <a href="https://raw.githubusercontent.com/mlcalache/wsdls/master/MicroAffyNormService_Non_Semantic.wsdl" target="_blank">
                    Especificação MicroAffyNormService_Non_Semantic.wsdl
                </a>
            </li>
            <li>
                <a href="https://raw.githubusercontent.com/mlcalache/wsdls/master/MicroAffyNormService_Grasews_Semantic.wsdl" target="_blank">
                    Especificação MicroAffyNormService_Grasews_Semantic.wsdl
                </a>
            </li>
            <li>
                <a href="http://dcm.ffclrp.usp.br/lssb/geas/ontologies/GEXPASO.owl" target="_blank">
                    Ontologia GEXPASO.owl
                </a>
            </li>
            <li>
                <a href="http://dcm.ffclrp.usp.br/lssb/geas/" target="_blank">
                    Repositório GEAS
                </a>
            </li>
        </ul>

        <h2>Documentos da Prova de Conceito de Anotação do Serviço MovieStore</h2>
        <ul>
            <li>
                <a href="https://raw.githubusercontent.com/mlcalache/wsdls/master/MovieStoreServiceSimplified2.0.wsdl" target="_blank">
                    Especificação MovieStoreServiceSimplified2.0.wsdl
                </a>
            </li>
            <li>
                <a href="https://raw.githubusercontent.com/mlcalache/wsdls/master/MovieStoreServiceSimplified2.0-anotado.wsdl" target="_blank">
                    Especificação MovieStoreServiceSimplified2.0-anotado.wsdl
                </a>
            </li>
            <li>
                <a href="http://www.movieontology.org/2010/01/movieontology.owl" target="_blank">
                    Ontologia MovieOntology.owl
                </a>
            </li>
        </ul>

        <h2>Pesquisas</h2>
        <ul>
            <li>
                <a href="https://pt.surveymonkey.com/r/2YDSZ69" target="_blank">
                    Questionário Sobre Serviços Web Semânticos
                </a>
            </li>
        </ul>

        <h2>Documentos de Análise de Desenvolvimento da Ferramenta Grasews</h2>
        <ul>
            <li>
                <a href="https://www.overleaf.com/read/qjnbkrbkkpth" target="_blank">
                    Estrutura Analítica de Projetos (EAP)
                </a>
            </li>
            <li>
                Mockups da Interface Gráfica de Usuário
            </li>
            <li>
                Documento de Análise de Requisitos
            </li>
            <li>
                Diagramas de Classes
            </li>
            <li>
                Diagramas Entidade-Relacionamento
            </li>
        </ul>

        <h2>Repositório de Código Fonte da Ferramenta Grasews</h2>
        <ul>
            <li>
                <a href="https://dev.azure.com/matheuscalache/Grasews" target="_blank">
                    Azure DevOps
                </a>
            </li>
			<li>
                <a href="https://github.com/mlcalache/grasews" target="_blank">
                    GitHub
                </a>
            </li>
        </ul>

        <h2>Ferramenta Grasews</h2>
        <ul>
            <li>
                <a href="https://grasewsweb.azurewebsites.net/" target="_blank">
                    Grasews Web (interface gráfica de usuário)
                </a>
            </li>
            <li>
                <a href="https://grasewsapi.azurewebsites.net/" target="_blank">
                    Grasews API
                </a>
            </li>
            <li>
                Manual de Usuário
            </li>
        </ul>
    </div>
    Autor: Matheus de Lara Calache
    <br /><a href="https://matheuscalache.azurewebsites.net/" target="_blank">Website</a>
</body>
</html>