@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Grasews - Documentação do Projeto</title>
</head>
<body>
    <h1>Grasews - Project Documentation</h1>
    <div>
        <h2>Proof of Concept Documents for the MicroAffyNorm Service Annotation</h2>
        <ul>
            <li>
                <a href="https://raw.githubusercontent.com/mlcalache/wsdls/master/MicroAffyNormService_Original_Semantic.wsdl" target="_blank">
                    MicroAffyNormService_Original_Semantic.wsdl Especification
                </a>
            </li>
            <li>
                <a href="https://raw.githubusercontent.com/mlcalache/wsdls/master/MicroAffyNormService_Non_Semantic.wsdl" target="_blank">
                    MicroAffyNormService_Non_Semantic.wsdl Especification
                </a>
            </li>
            <li>
                <a href="https://raw.githubusercontent.com/mlcalache/wsdls/master/MicroAffyNormService_Grasews_Semantic.wsdl" target="_blank">
                    MicroAffyNormService_Grasews_Semantic.wsdl Especification
                </a>
            </li>
            <li>
                <a href="http://dcm.ffclrp.usp.br/lssb/geas/ontologies/GEXPASO.owl" target="_blank">
                    GEXPASO.owl Ontology
                </a>
            </li>
            <li>
                <a href="http://dcm.ffclrp.usp.br/lssb/geas/" target="_blank">
                    GEAS Repository
                </a>
            </li>
        </ul>

        <h2>Proof of Concept Documents for the MovieStore Service Annotation</h2>
        <ul>
            <li>
                <a href="https://raw.githubusercontent.com/mlcalache/wsdls/master/MovieStoreServiceSimplified2.0.wsdl" target="_blank">
                    MovieStoreServiceSimplified2.0.wsdl Especification
                </a>
            </li>
            <li>
                <a href="https://raw.githubusercontent.com/mlcalache/wsdls/master/MovieStoreServiceSimplified2.0-anotado.wsdl" target="_blank">
                    MovieStoreServiceSimplified2.0-anotado.wsdl Especification
                </a>
            </li>
            <li>
                <a href="http://www.movieontology.org/2010/01/movieontology.owl" target="_blank">
                    MovieOntology.owl Ontology
                </a>
            </li>
        </ul>

        <h2>Pesquisas</h2>
        <ul>
            <li>
                <a href="https://pt.surveymonkey.com/r/2YDSZ69" target="_blank">
                    Questionnaire About Semantic Web Services
                </a>
            </li>
        </ul>

        <h2>Development Analysis Documents for the Grasews Tool</h2>
        <ul>
            <li>
                <a href="https://www.overleaf.com/read/qjnbkrbkkpth" target="_blank">
                    Work Breakdown Structure (WBS)
                </a>
            </li>
            <li>
                User Graphical Interface Mockups
            </li>
            <li>
                Requirements Analysis Document
            </li>
            <li>
                Class Diagram
            </li>
            <li>
                Entity Relationship Diagram
            </li>
        </ul>

        <h2>Grasews Source Repository</h2>
        <ul>
            <li>
                <a href="https://dev.azure.com/matheuscalache/Grasews" target="_blank">
                    Azure DevOps
                </a>
            </li>
			<li>
                <a href="https://github.com/mlcalache/grasews" target="_blank">
                    GitHub
                </a>
            </li>
        </ul>

        <h2>Grasews</h2>
        <ul>
            <li>
                <a href="https://grasewsweb.azurewebsites.net/" target="_blank">
                    Grasews Web
                </a>
            </li>
            <li>
                <a href="https://grasewsapi.azurewebsites.net/" target="_blank">
                    Grasews API
                </a>
            </li>
            <li>
                User Manual
            </li>
        </ul>
    </div>
    Author: Matheus de Lara Calache
    <br /><a href="https://matheuscalache.azurewebsites.net/" target="_blank">Website</a>
</body>
</html>