<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 2.0.0 Beta
        <span data-toggle="tooltip" data-placement="top" title="Report a bug">
            <a href="#" data-toggle="modal" data-target="#modal-report-bug"><i class="fa fa-bug"></i></a>
        </span>
    </div>
    <strong>[<a href="https://www.linkedin.com/in/matheuscalache/" target="_blank" data-toggle="tooltip" data-placement="top" title="Author's LinkedIn">Matheus de Lara Calache</a>]</strong> -

    [<a href="http://www.ribeirao.usp.br/" target="_blank" data-toggle="tooltip" data-placement="top" title="University">USP Ribeirão Preto</a>] -
    [<a href="http://dcm.ffclrp.usp.br/" target="_blank" data-toggle="tooltip" data-placement="top" title="University Department">DCM</a>] -
    [<a href="http://dcm.ffclrp.usp.br/ppgca/" target="_blank" data-toggle="tooltip" data-placement="top" title="Postgraduate Program">PPGCA</a>] -
    [<a href="http://dcm.ffclrp.usp.br/lssb" target="_blank" data-toggle="tooltip" data-placement="top" title="Laboratory">LSSB</a>]
</footer>