<div id="graph_control" class="graph_control">
    @*<button type="button" class="btn btn-default btn-sm" id="btn_collapse_all_nodes"><i class="fa fa-compress"></i> Collapse all nodes</button>
        <button type="button" class="btn btn-default btn-sm" id="btn_expand_all_nodes"><i class="fa fa-expand"></i> Expand all nodes</button>*@
    <button type="button" class="btn btn-warning btn-sm faa-parent animated-hover" id="btn_reset_graph_layout"><i class="fa fa-refresh faa-spin faa-fast"></i> Reset layout</button>
    <button type="button" class="btn btn-default btn-sm faa-parent animated-hover" id="btn_fit_graph_layout"><i class="fa fa-arrows-alt faa-tada faa-fast"></i> Fit layout</button>
    <button type="button" class="btn btn-default btn-sm faa-parent animated-hover" id="btn_graph_zoom_in"><i class="fa fa-search-plus faa-tada faa-fast"></i> Zoom in</button>
    <button type="button" class="btn btn-default btn-sm faa-parent animated-hover" id="btn_graph_zoom_out"><i class="fa fa-search-minus faa-tada faa-fast"></i> Zoom out</button>
    <div style="visibility: hidden"><label>Zoom:</label> <span id="zoomValue"></span></div>
    @*<button type="button" class="btn btn-primary">Primary</button>
        <button type="button" class="btn btn-success">Success</button>
        <button type="button" class="btn btn-info">Info</button>
        <button type="button" class="btn btn-danger">Danger</button>
        <button type="button" class="btn btn-warning">Warning</button>*@
</div>
<div id="graph_container" class="graph-container"></div>