<div class="modal fade" id="modal-report-bug" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Report a bug</h4>
            </div>
            <div class="modal-body">
                <label>Known issues:</label>
                <ol>
                    <li>Share - Send invitation.</li>
                    <li>Share - Share a service description with an existing user is sending an invitation. Should be a notification.</li>
                    <li><s>Treeview - Adjust position of icons when semantic annotated for Xsd Elements and Xsd Complex Elements.</s></li>
                    <li><s>Graph - Go to code tab and go back to design tab, then the graph is gone. If you expand the window, the graph is back.</s></li>
                    <li><s>WSDL - Remove model reference URL from XsdComplexTypes and XsdSimpleTypes.</s></li>
                </ol>
                <label>To be developed:</label>
                <ol>
                    <li><s>Graph - Create graph nodes hierarchies between to graphs.</s></li>
                    <li>DoTo Tasks.</li>
                    <li>Issue Tasks.</li>
                    <li><s>Share - Notifications for new updates.</s></li>
                </ol>
                <label>Future work:</label>
                <ol>
                    <li>Graph - Show and hide nodes on graph..</li>
                    <li>Graph - Save hidden nodes</li>
                    <li>Graph - Paint ontology nodes according to the ontology colour from the left panel.</li>
                    <li>OWL - Heavy ontologies.</li>
                    <li>Ontologies - Semantic annotation with other formats besides the OWL.</li>
                    <li>WSDL - Semantic annotations for Infaults and Outfaults.</li>
                    <li>WASDL - Service description and semantic annotations.</li>
                    <li>Swagger - Service description and semantic annotations.</li>
                </ol>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
                @*<button type="button" class="btn btn-primary">Send</button>*@
            </div>
        </div>
    </div>
</div>