<div class="modal fade" id="modal-view-image" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Export graph to image (.png)</h4>
            </div>
            <div class="modal-body">
                <img id="img-graph" width="550" height="500" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                @*<button type="button" class="btn btn-primary" id="lnk-save-image">Save</button>*@
                <a class="btn btn-primary" href="#" id="lnk-save-image">Save</a>
            </div>
        </div>
    </div>
</div>