<div id="webserviceElementContextMenu" class="dropdown clearfix context-menu">
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display:block;position:static;margin-bottom:5px;">
        <li class="li-add-model-reference-context-menu">
            <a tabindex="-1" href="#" id="webserviceElementContextMenuAddModelReference">Add Model Reference</a>
        </li>
        <li class="li-remove-model-reference-context-menu">
            <a tabindex="-1" href="#" id="webserviceElementContextMenuRemoveModelReference">Remove Model Reference</a>
        </li>
        <li class="divider"></li>
        <li class="li-add-lifting-schema-mapping-context-menu">
            <a tabindex="-1" href="#" id="webserviceElementContextMenuAddLiftingSchemaMapping">Add Lifting Schema Mapping</a>
        </li>
        <li class="li-remove-lifting-schema-mapping-context-menu">
            <a tabindex="-1" href="#" id="webserviceElementContextMenuRemoveLiftingSchemaMapping">Remove Lifting Schema Mapping</a>
        </li>
        <li class="li-add-lowering-schema-mapping-context-menu">
            <a tabindex="-1" href="#" id="webserviceElementContextMenuAddLoweringSchemaMapping">Add Lowering Schema Mapping</a>
        </li>
        <li class="li-remove-lowering-schema-mapping-context-menu">
            <a tabindex="-1" href="#" id="webserviceElementContextMenuRemoveLoweringSchemaMapping">Remove Lowering Schema Mapping</a>
        </li>
    </ul>
</div>