<div id="webserviceContextMenu" class="dropdown clearfix context-menu">
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display:block;position:static;margin-bottom:5px;">
        <li>
            <a tabindex="0" href="#" id="webserviceContextMenuViewWebService">View service description</a>
        </li>
        <li>
            <a tabindex="1" href="#" id="webserviceContextMenuCloseWebService">Close service description</a>
        </li>
    </ul>
</div>