<div id="ontologyElementContextMenu" class="dropdown clearfix context-menu">
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display:block;position:static;margin-bottom:5px;">
        <li>
            <a tabindex="-1" href="#" id="ontologyElementContextMenuAddModelReference">Add Model Reference</a>
        </li>
    </ul>
</div>