<div id="ontologyContextMenu" class="dropdown clearfix context-menu">
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display:block;position:static;margin-bottom:5px;">
        <li>
            <a tabindex="2" href="#" id="ontologyContextMenuCloseOntology">Close ontology</a>
        </li>
    </ul>
</div>