<ul class="sidebar-menu">
    <li class="treeview ontologyContextMenu">
        <a href="#">
            <i class="fa fa-file-code-o"></i><span>Ontology 1</span>
            <span class="pull-right-container">
                <i class="fa fa-eye-slash pull-right" style="color: #666;"></i>
                <i class="fa fa-angle-right pull-left"></i>
            </span>
        </a>
        <ul class="treeview-menu" style="display: none;">
            <li class="ontologyElementContextMenu">
                <a href="#">
                    <i class="fa fa-circle-o"></i>
                    <span data-toggle="tooltip" data-placement="top" title="Term 1">
                        Term 1
                    </span>
                </a>
            </li>
            <li class="treeview ontologyElementContextMenu">
                <a href="#">
                    <i class="fa fa-circle-o"></i>
                    <span data-toggle="tooltip" data-placement="top" title="Term 2">
                        Term 2
                    </span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-right pull-left"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a href="#">
                            <i class="fa fa-circle-o"></i>
                            <span data-toggle="tooltip" data-placement="top" title="Term 2.1">
                                Term 2.1
                            </span>
                        </a>
                    </li>
                    <li class="treeview ontologyElementContextMenu">
                        <a href="#">
                            <i class="fa fa-circle-o"></i>
                            <span data-toggle="tooltip" data-placement="top" title="Term 2.2">
                                Term 2.2
                            </span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-right pull-left"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li class="treeview ontologyElementContextMenu">
                                <a href="#">
                                    <i class="fa fa-circle-o"></i>
                                    <span data-toggle="tooltip" data-placement="top" title="Term 2.2.1">
                                        Term 2.2.1
                                    </span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-right pull-left"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li class="ontologyElementContextMenu">
                                        <a href="#">
                                            <i class="fa fa-circle-o"></i>
                                            <span data-toggle="tooltip" data-placement="top" title="Term 2.2.1.1">
                                                Term 2.2.1.1
                                            </span>
                                        </a>
                                    </li>
                                    <li class="ontologyElementContextMenu">
                                        <a href="#">
                                            <i class="fa fa-circle-o"></i>
                                            <span data-toggle="tooltip" data-placement="top" title="Term 2.2.1.2">
                                                Term 2.2.1.2
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="ontologyElementContextMenu">
                                <a href="#">
                                    <i class="fa fa-circle-o"></i>
                                    <span data-toggle="tooltip" data-placement="top" title="Term 2.2.2">
                                        Term 2.2.2
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="ontologyElementContextMenu">
                <a href="#">
                    <i class="fa fa-circle-o"></i>
                    <span data-toggle="tooltip" data-placement="top" title="Term 3">
                        Term 3
                    </span>
                </a>
            </li>
        </ul>
    </li>
    <li class="treeview ontologyContextMenu">
        <a href="#">
            <i class="fa fa-file-code-o"></i><span>Ontology 2</span>
            &nbsp;
            <i class="fa fa-circle" style="color: #00ff90"></i>
            <span class="pull-right-container">
                <i class="fa fa-eye pull-right"></i>
                <i class="fa fa-angle-right pull-left"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li class="ontologyElementContextMenu">
                <a href="#">
                    <i class="fa fa-circle-o" style="color: #00ff90"></i>
                    <span data-toggle="tooltip" data-placement="top" title="Term 1">
                        Term 1
                    </span>
                    &nbsp;
                    <span data-toggle="tooltip" data-placement="top" title="Model Reference">
                        <i class="fa fa-check-circle" style="color: #00a65a;"></i>
                    </span>
                </a>
            </li>
            <li class="ontologyElementContextMenu">
                <a href="#">
                    <i class="fa fa-circle-o" style="color: #00ff90"></i>
                    <span data-toggle="tooltip" data-placement="top" title="Term 2">
                        Term 2
                    </span>
                </a>
            </li>
            <li class="ontologyElementContextMenu">
                <a href="#">
                    <i class="fa fa-circle-o" style="color: #00ff90"></i>
                    <span data-toggle="tooltip" data-placement="top" title="Term 3">
                        Term 3
                    </span>
                </a>
            </li>
            <li class="ontologyElementContextMenu">
                <a href="#">
                    <i class="fa fa-circle-o" style="color: #00ff90"></i>
                    <span data-toggle="tooltip" data-placement="top" title="Term 4">
                        Term 4
                    </span>
                </a>
            </li>
        </ul>
    </li>
    <li class="treeview ontologyContextMenu">
        <a href="#">
            <i class="fa fa-file-code-o"></i><span>Ontology 3</span>
            &nbsp;
            <i class="fa fa-circle" style="color: #88cafa"></i>
            <span class="pull-right-container">
                <i class="fa fa-eye pull-right"></i>
                <i class="fa fa-angle-right pull-left"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li class="ontologyElementContextMenu">
                <a href="#">
                    <i class="fa fa-circle-o" style="color: #88cafa"></i>
                    <span data-toggle="tooltip" data-placement="top" title="Term 1">
                        Term 1
                    </span>
                </a>
            </li>
            <li class="ontologyElementContextMenu">
                <a href="#">
                    <i class="fa fa-circle-o" style="color: #88cafa"></i>
                    <span data-toggle="tooltip" data-placement="top" title="Term 2">
                        Term 2
                    </span>
                </a>
            </li>
        </ul>
    </li>
    <li class="treeview ontologyContextMenu">
        <a href="#">
            <i class="fa fa-file-code-o"></i><span>Ontology 4</span>
            <span class="pull-right-container">
                <i class="fa fa-eye-slash pull-right" style="color: #666;"></i>
                <i class="fa fa-angle-right pull-left"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li class="ontologyElementContextMenu">
                <a href="#"><i class="fa fa-circle-o"></i>Term</a>
            </li>
            <li class="ontologyElementContextMenu">
                <a href="#"><i class="fa fa-circle-o"></i>Term</a>
            </li>
        </ul>
    </li>
    <li class="treeview ontologyContextMenu">
        <a href="#">
            <i class="fa fa-file-code-o"></i><span>Ontology 5</span>
            <span class="pull-right-container">
                <i class="fa fa-eye-slash pull-right" style="color: #666;"></i>
                <i class="fa fa-angle-right pull-left"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li class="ontologyElementContextMenu">
                <a href="#"><i class="fa fa-circle-o"></i>Term</a>
            </li>
            <li class="ontologyElementContextMenu">
                <a href="#"><i class="fa fa-circle-o"></i>Term</a>
            </li>
        </ul>
    </li>
    <li class="treeview ontologyContextMenu">
        <a href="#">
            <i class="fa fa-file-code-o"></i><span>Ontology 6</span>
            <span class="pull-right-container">
                <i class="fa fa-eye-slash pull-right" style="color: #666;"></i>
                <i class="fa fa-angle-right pull-left"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li class="ontologyElementContextMenu">
                <a href="#"><i class="fa fa-circle-o"></i>Term</a>
            </li>
            <li class="ontologyElementContextMenu">
                <a href="#"><i class="fa fa-circle-o"></i>Term</a>
            </li>
        </ul>
    </li>
    <li class="treeview ontologyContextMenu">
        <a href="#">
            <i class="fa fa-file-code-o"></i><span>Ontology 7</span>
            <span class="pull-right-container">
                <i class="fa fa-eye-slash pull-right" style="color: #666;"></i>
                <i class="fa fa-angle-right pull-left"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li class="ontologyElementContextMenu">
                <a href="#"><i class="fa fa-circle-o"></i>Term</a>
            </li>
            <li class="ontologyElementContextMenu">
                <a href="#"><i class="fa fa-circle-o"></i>Term</a>
            </li>
        </ul>
    </li>
</ul>